li{
  list-style : none;
}
header {
  background-color: #eee;
}
#wrap {
  overflow : auto;
  margin: 20px 0px;
  
}
.left, .right, .realright{
  float:left;
  height : 200px;
}
.left{
  background-color : #1c1;
  width : 17%;
  margin-right : 3%;
}
.right{
  width : 60%;
  text-align : center;
  background-color : #2c9;
}
.right > h2{
  position : relative;
}
.right .emoticon{
  position : absolute;
  top : 0px;
  right : 25%;
}
.realright{
  width : 17%;
  margin-left : 3%;
  background-color : #67c;
}
footer {
  background-color: #eee;
  clear:both;
}
